################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiveAID/.vs/GiveAID
/GiveAID/GiveAID/bin
/GiveAID/GiveAID/obj/Debug
