@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .carousel-caption {
        /* CSS cho thẻ <h5> */

        bottom: 90px;
    }

        .carousel-caption.d-none.d-md-block h5 {
            /* CSS cho thẻ <h5> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 22px;
            text-transform: uppercase;
            text-shadow: 5px 5px 10px #00FF00;
        }

        .carousel-caption.d-none.d-md-block p {
            /* CSS cho thẻ <p> */
            color: ghostwhite;
            font-weight: bold;
            font-size: 20px;
            text-shadow: 5px 5px 10px #00FF00;
        }


    .w-100 {
        /* kích thước thẻ slide index home */
        width: 100vw;
        height: 40vh;
        filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền làm mờ */
    }

    .logoBrandCard {
        /* kích thước logo card index home */
        width: 250px;
        height: 200px;
        margin: 2px;
    }
    .titleH1 {
        color: #34495E;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #00FF00;
    }
    .titleH3 {
        color: #FBFCFC;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #00FF00;
    }
    .titleh3 {
        text-align: center;
        text-transform: uppercase;
        color: #34495E;
        text-shadow: 5px 5px 10px #A569BD;
    }
    .titleF {
        font-style: italic;
        color: #229954;
        background-color: #E5E7E9;
    }
    .cusWD {
        color: #34495E;
        text-transform: uppercase;
        text-shadow: 5px 5px 10px #A569BD;
    }
</style>

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-body row">
                <div class="col-5 text-center d-flex align-items-center justify-content-center">
                    <div class="">
                        <img src=" @Url.Content("~/Content/Images/LogoGive2.png")" alt="AdminLTE Logo">
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <h1 class="titleH1">Introducing the team</h1>

                    </div>
                    <div class="form-group">
                        <div class="card-dark">
                            <div class="card-header titleH3">
                                <h3>Give - AID's team</h3>
                            </div>
                            <div class="card-body row-cols-2">

                                <div class="float-left col-5 cusWD">
                                    <h3>Lại Nguyên Vũ</h3>
                                    <img class="img-circle logoBrandCard" src="@Url.Content("~/content/Images/Wu.png")" alt="User Avatar">
                                    <h5 class="ml-5">Content Creator</h5>

                                </div>
                                <div class="float-right col-5 cusWD">
                                    <h3>Lê Minh Đức</h3>
                                    <img class="img-circle logoBrandCard" src="@Url.Content("~/content/Images/Duke2.png")" alt="User Avatar">
                                    <h5 class="ml-5">Creator of logic</h5>
                                </div>



                            </div>
                            <div class="card-footer titleF">
                                <h3>*Give - AID was born with the sweat and enthusiasm of the whole group, it was created through hard work and effort, it is not here to save anything. It simply wants to bring warmth to the heart people who share with the community.*</h3>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <h3 class="titleh3 mt-3 mb-3">Our partner</h3>
                <!-- SLIDE IMAGE -->
                <div id="logo-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#logo-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#logo-carousel" data-slide-to="1"></li>
                        <li data-target="#logo-carousel" data-slide-to="2"></li>
                        <!-- Thêm các chỉ số cho từng logo -->
                    </ol>

                    <!-- Slides -->
                    <div class="carousel-inner mt-3 mb-3">
                        <div class="carousel-item active" style="text-align:center;">
                            <img src="~/Content/Images/apple.png" loading="lazy" alt="Logo 1" class="ml-3 mr-3">
                            <img src="~/Content/Images/facebook.png" loading="lazy" class="ml-3 mr-3">
                            <img src="~/Content/Images/youtube.png" loading="lazy" class="ml-3 mr-3">
                        </div>
                        <div class="carousel-item" style="text-align:center;">
                            <img src="~/Content/Images/youtube.png" loading="lazy" class="ml-3 mr-3">
                            <img src="~/Content/Images/facebook.png" loading="lazy" class="ml-3 mr-3">
                            <img src="~/Content/Images/apple.png" alt="Logo 2" loading="lazy" class="ml-3 mr-3">
                        </div>
                        <div class="carousel-item" style="text-align:center;">
                            <img src="~/Content/Images/tiktok.png" loading="lazy" class="ml-3 mr-3">
                            <img src="~/Content/Images/apple.png" alt="Logo 3" class="ml-3 mr-3">
                        </div>
                        <!-- Thêm các slide cho từng logo -->
                    </div>

                    <!-- Controls -->

                </div>

            </div>


        



            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Url.Content("~/Content/Images/sloganVIP.jpg")" loading="lazy" class="d-block w-100" alt="anh test 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>If you're still breathing, you're alive</h5>
                        <p>So don't forget to breathe</p>
                    </div>
                </div>
            </div>
</section>
   
    <!-- /.content -->
</div>