
    @{
    ViewBag.Title = "Trang Chu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div class="content-wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper kanban">

                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>Kanban Board</h1>
                            </div>
                            <div class="col-sm-6 d-none d-sm-block">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Kanban Board</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content pb-3">
                    <div class="container-fluid h-100">
                        <div class="card card-row card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    To Do
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h5 class="card-title">Create first milestone</h5>
                                        <div class="card-tools">
                                            <button onclick="showSuccessMessage('Nhấn em nè')">Hiển thị thông báo thành công</button>
                                            <button onclick="showErrorMessage('Chạm em eiii!!!')">Hiển thị thông báo lỗi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-row card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    To Do
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h5 class="card-title">Create first milestone</h5>
                                        <div class="card-tools">
                                            <a href="#" class="btn btn-tool btn-link">#5</a>
                                            <a href="#" class="btn btn-tool">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-row card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    To Do
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h5 class="card-title">Create first milestone</h5>
                                        <div class="card-tools">
                                            <a href="#" class="btn btn-tool btn-link">#5</a>
                                            <a href="#" class="btn btn-tool">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                </section>
            </div>
       
        <!-- ./wrapper -->
   
</div>