
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>đây là những thứ lấy trên url xuống nè</h2>
<div>@ViewBag.transaction_no</div>
<div>@ViewBag.response_code</div>
<div>@ViewBag.id</div>
<div>@ViewBag.amout</div>

