
@{
    ViewBag.Title = "EditHome";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">

    <div class="card-header">
        <h4 class="card-title">Edit Partner</h4>
    </div>
    <!-- /.card-header -->
    <!--Load GIF-->
    <div class="modalLoading"></div>



    <!-- form start -->
    <form id="formTinTuc" action="javascript:doSubmitNews();" method="post" enctype="multipart/form-data">
        <div class="card-body mx-auto">
            <div class="form-group">
                <label for="Tiêu Đề">Tiêu Đề</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu Đề" required>
            </div>

            <div class="form-group">
                <label for="description">Mô tả ngắn gọn</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="phần mô tả này được hiển thị bên dưới tiêu đề trên trang chính" required>
            </div>

            <div class="form-group">
                <label for="fileBase">Hình ảnh liên quan</label>


                <input type="file" class="form-control" id="fileBase" name="fileBase" required multiple>
            </div>

            <input type="hidden" id="time_start" name="time_start" value="" />

            @*<input type="hidden" name="TrangThai" value="Mở" />*@

            <div class="form-group">
                <label for="description">Địa chỉ </label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Ví dụ: Khu phố đèn tím " required>
            </div>

            <div class="form-group">
                <label for="description">Email </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ví dụ: DucLOVEP2T " required>
            </div>

            <div class="form-group">
                <label for="description">Số điện thoại</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Ví dụ: 0908540891" required>
            </div>

            <div>
                <input type="hidden" name="content" id="MoTa" />
            </div>




        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" id="btnSubmit" class="btn btn-primary" value="Save">Lưu</button>
        </div>
    </form>
</div>
<!-- /.card -->
