
@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

   
}

<style>
    .content-vip {
        display: flex;
        justify-content: center;
    }

    .content-baby {
        flex: 1;
        text-align: center;
    }


    .nav-tabs .nav-item .nav-link.active {
        color: mediumvioletred; /* Thay đổi màu khi tab được kích hoạt */
        border-bottom: 2px solid #FF3399; /* Thay đổi màu và đường kẻ dưới khi tab được kích hoạt */
        background-color: whitesmoke;
    }
</style>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">




    <!-- Content Header (Page header) -->
    <div class="content-header" style="width:100%">

        <div class="container">
            <div class="row mb-2">
                <div class="container">

                    <br>
                    <ul class="nav nav-tabs content-vip" role="tablist">
                        <li class="nav-item content-baby">
                            <!--Table 1-->
                            <a class="nav-link active" data-toggle="tab" href="#home">Posts</a>
                        </li>
                        <li class="nav-item content-baby">
                            <!--Table 2-->
                            <a class="nav-link" data-toggle="tab" href="#menu1">Partner</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="width:100%">
                        <div id="home" class="container tab-pane active table-responsive-md">
                            <br>
                            <div class="row mb-2">

                                <h5>Danh sách đối tác</h5>
                                <!--Table 2-->
                              
                                <!--Table 2-->
                            </div>
                        </div>
                       
                        <div id="menu1" class="container tab-pane fade table-responsive-md">
                            <br>
                            <div class="row mb-2">
                               


                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <!-- Main content -->
</div>
<!-- Content Wrapper. Contains page content -->
