
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function changePass() {
        var json = getFormObj("formChangePass");
        var form = document.getElementById("formChangePass");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangePassword", "Login")',
            data: json,
            dataType: 'json',

            success: function (response) {
                if (response.result == true) {
                    location.reload();
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        });
    }
</script>

<div class="content-wrapper">
    <div class="login-box mx-auto ">
        <div class="login-logo ">
            <a href="#"><b>HR</b>-WuDuke</a>
        </div>
        <!-- /.login-logo -->
        <div class="card mt-sm-5  mb-3">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Change the password</p>

                <form action="javascript:changePass();" method="post" id="formChangePass">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="old" name="oldPass" placeholder="Current password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="new" name="newPass" placeholder="A new password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="repeat" name="repeatPass" placeholder="Enter the password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mt-3 mb-1">

                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>

