
@{
    ViewBag.Title = "CreateAcc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function doRegister() {
        var json = getFormObj("formRegister");

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Register", "Login")',
            data: json,
            dataType: "json",
            success: function (response) {
                if (response.result == true) {

                    showSuccessMessage("Chào cậu!!!");

                    var url = '@Url.Action("Index", "Login")';
                    
                    open(url, "_self");
                    
                }
                else {
                    showErrorMessage(response.error);
                }
            },
            error: handleException
        });
    }
</script>

<div class="content-wrapper">
    <div class="register-box mx-auto">
        <div class="register-logo">
            <a href="@Url.Action("Index","Home")"><b>Give</b>-AID</a>
        </div>

        <div class="card mt-sm-5 mb-5" >
            <div class="card-body register-card-body">
                <p class="login-box-msg">Tạo Tài Khoản</p>

                <form action="javascript:doRegister();" method="post" id="formRegister">
                    @* nhập tên người dùng  *@
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="First and last name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-file-signature"></span>
                            </div>
                        </div>
                    </div>
                    @* nhập tài khoản *@
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @* nhập mail *@
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @* Nhập mật khẩu *@
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @* nhập lại mật khẩu  *@
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password2" placeholder="Enter the password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                     
                        <!-- /.col -->
                        <div class="col-11 ml-3">
                            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>


