
@{
    ViewBag.Title = "CreateAcc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="register-box mx-auto">
        <div class="register-logo">
            <a href="../../index2.html"><b>Give</b>-AID</a>
        </div>

        <div class="card mt-sm-5">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Tạo Tài Khoản</p>

                <form action="javascript:doRegister();" method="post" id="formRegister">
                    @* nhập tên người dùng  *@
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="HoVaTen" id="HoVaTen" placeholder="Họ và tên">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-file-signature"></span>
                            </div>
                        </div>
                    </div>
                    @* nhập tài khoản *@
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="TenDangNhap" id="TenDangNhap" placeholder="Tài khoản">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @* nhập mail *@
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="Email" id="Email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @* Nhập mật khẩu *@
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="MatKhau" id="MatKhau" placeholder="Mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @* nhập lại mật khẩu  *@
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                  
                </form>


            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>


