.carousel-caption {
    color: white; /* Màu chữ trắng */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Đổ bóng chữ */
}
.carousel-item img {
    filter: brightness(70%) blur(2px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    width: 200vw;
    height: 30vh;
}

.center-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .carousel-caption h3 {
        margin-bottom: 0;
    }



/*cac nha dau tu*/
.partners {
    text-align: center;
   
}
    .partners h3 {
        color: darkorange;
        width: 100vw;
        height: 1vh;
    }
 
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    width: 100vw;
    height: 30vh;
}

.logo {
    max-width: 100px;
    height: 50px;
    margin-right: 50px;
}

    .logo:last-child {
        margin-right: 0;
    }










