/*loading css*/
.modalLoading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('https://i.gifer.com/VAyR.gif') 50% 50% no-repeat;
    animation: loaderAnimation 10s ease-in-out; /* Thời gian chạy là 3 giây */
}

@keyframes loaderAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes spinnerAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


body.loading {
    overflow: hidden;
}

    body.loading .modalLoading {
        display: block;
    }

/*end loading css*/

html, body {
    scroll-behavior: smooth;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(113, 241, 19, 0.5);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;

}

    #backToTopBtn:hover {
        background-color: rgba(251, 0, 221, 0.5);
    }


