.carousel-caption {
    color: white; /* Màu chữ trắng */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Đổ bóng chữ */
}
.carousel-item img {
    filter: brightness(70%) blur(2px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    width: 1519px;
    height: 350px;
}

.center-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .carousel-caption h3 {
        margin-bottom: 0;
    }
